{% extends "base/layout.html" %} {% block title %} Rede de Doações {% endblock
%} {% block content %}
<!-- New Post Card -->
{% if current_user is not none %}
<form action="/post" method="POST" enctype="multipart/form-data">
  <div class="bg-base-100 rounded-lg shadow-sm p-4">
    <!-- Campo para a imagem do perfil -->
    <div class="flex space-x-4">
      <img
        src="{{ url_for('static',  path=current_user.url_imagem_perfil) }}"
        alt="Profile"
        class="h-10 w-10 rounded-full"
      />

      <!-- Campo de descrição -->
      <textarea
        name="descricao"
        class="flex-1 px-4 text-left"
        placeholder="O que está acontecendo?"
        rows="3"
        style="resize: none; background: none; border: none; outline: none"
        required
      ></textarea>
    </div>

    <!-- Campos adicionais -->
    <div class="grid grid-cols-1 gap-4 mt-4">
      <input
        type="text"
        name="titulo"
        placeholder="Título do post"
        class="input w-full px-4 py-2 border rounded-md"
        required
      />
      <input
        type="number"
        name="quantidade"
        placeholder="Quantidade"
        class="input w-full px-4 py-2 border rounded-md"
        required
      />
      <select
        name="id_categoria"
        class="input w-full px-4 py-2 border rounded-md"
        required
      >
        <option value="">Selecione a categoria</option>
        <!-- Adicione opções dinamicamente -->
        {% for categoria in categories %}
        <option value="{{ categoria.id }}" class="{{ categoria.slug }} select select-primary w-full max-w-xs">
        {{ categoria.categoria }}
        </option>
        {% endfor %}
      </select>
      <input
        type="date"
        name="data_validade"
        class="input w-full px-4 py-2 border rounded-md"
      />
    </div>

    <!-- Botões -->
    <div class="flex justify-between mt-4 pt-2 border-t">
      <div class="flex space-x-4">
        <button type="button" class="flex items-center space-x-2">
          <i class="fas fa-image"></i>
          <span>Foto</span>
        </button>
        <button type="button" class="flex items-center space-x-2">
          <i class="fas fa-video"></i>
          <span>Vídeo</span>
        </button>
        <button type="button" class="flex items-center space-x-2">
          <i class="fas fa-map-marker-alt"></i>
          <span>Local</span>
        </button>
      </div>
      <button type="submit" class="btn btn-primary px-4 py-2 rounded-full">
        Postar
      </button>
    </div>
  </div>
</form>

{% endif %}

<!-- Posts Feed -->

{% if posts %} {% for post in posts %}
<div class="card">
 <div class="card-inner">
    <div class="box">
      <div class="imgBox">
       {% if post.url_imagem_post %}
        <img
          src="{{ post.url_imagem_post }}" alt="Post image" class="w-full h-48 object-cover rounded-lg"
          alt="{{ post.titulo }}"
        />
        {% endif %}
      </div>
      <div class="icon">
        <a class="iconBox {{post.categories.slug}}" href="/post/{{ post.id }}">
            <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <h3>{{ post.titulo }}</h3>
    <p>
      {{ post.descricao }}
    </p>
    <ul>

    <li
      class="{{ post.categories.slug }}">
      {{ post.categories.categoria }}
    </li>

    </ul>
    <div class="flex items-end space-x-4 mt-4">
      <button class="flex items-end space-x-1">
        <i class="far fa-heart"></i>
        <span>{{ post.likes_count }}</span>
      </button>
      <button class="flex items-end space-x-1">
        <i class="far fa-comment"></i>
        <span>{{ post.comments_count }}</span>
      </button>
      <button class="flex items-end space-x-1">
        <i class="far fa-share-square"></i>
      </button>
    </div>
  </div>


   </div>

  {% endfor %} {% else %}
  <div class="bg-base-100 rounded-lg shadow-sm p-4">
    <h4 class="font-semibold text-center">Nenhuma postagem encontrada</h4>
  </div>
  {% endif %} {% endblock %}
</div>
